html, body {
    scroll-behavior: smooth;
    height: 100%;
    margin: 0;
    max-width: 100%;
}

/* Keep the footer always down */
.wrapper {
    min-height: 100%;
    margin-bottom: -50px;
    scroll-behavior: smooth;
}
#footer, .push {
    height: 50px;
}


.my-btn {
    width: 90px;
}

/* Remove all the lines in <a> tags */
a{
    text-decoration: none !important;
}

/* Upload filed boxes (File and Image) */

.text-break, .input-group-text{
    font-size: 13px !important;
}