html, body {
    scroll-behavior: smooth;
    height: 100%;
    margin: 0;
    max-width: 100%;
}

/* Keep the footer always down */
.wrapper {
    min-height: 100%;
    margin-bottom: -50px;
    scroll-behavior: smooth;
}
#footer, .push {
    height: 50px;
}
